<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css'>

<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-light bg-light" style="background-color: #ffc107 !important;">
      <a class="navbar-brand m-auto">Thank You for Ordering</a>
    </nav>
  </div>
</div>
  <div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further instructions on delivery timing .</p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm"  role="button">Continue to homepage</a>
  </p>
</div>



