.row{
  margin-top: 3px
}
input{
 height: 28px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 13px;
 width: 70%;
}
body{
  font-weight: 400;
  font-size: 13px;
  font-family: Arial ;
}

select{
  height: 20px;
}

small:hover{

  cursor: pointer;
}
