<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-light bg-light" style="background-color: #ffc107 !important;">
      <a class="navbar-brand m-auto">Checkout (3 Items)</a>
    </nav>
  </div>
</div>
<div class="row p-2">

  <!-- <div class="col-lg-3"></div> -->
  <div class="col-lg-9" style="font-family: Arial;font-size: 13px;font-weight: 400;">
    <div *ngIf="!changeFunction" class="row">
      <div class="col-lg-1 font-weight-bold">1</div>
      <div class="col-lg-3 font-weight-bold">Shipping address</div>
      <div class="col-lg-4" style="font-family: Arial;font-size: 13px;font-weight: 400;">
        <div class="row" style="margin-left: 1px; font-weight: 500 ">
          {{address['shipToAddress'].firstName +" "+address['shipToAddress'].lastName}} </div>
        {{address['shipToAddress'].addressLine1}}
        <div class="row" style="margin-left: 1px; "> <a href="#" data-toggle="modal"
            data-target="#exampleModalCenter"><small style="font-weight: 400;">Add a delievery
              instructions</small></a></div>
      </div>
      <div class="col-lg-2">
        <a *ngIf="addressArray.length!=0" href="#" (click)="toggleChange()"> <small
            style="font-weight: 500;">Change</small>
        </a>
        <a href="#" *ngIf="addressArray.length==0" data-toggle="modal" data-target="#exampleModal"> <small
            style="font-weight: 500;">Add Address </small>
        </a>
      </div>
    </div>
    <div *ngIf="changeFunction" class="row" style="font-family: Arial;font-size: 13px;font-weight: 400;">
      <div class="col-lg-1"></div>
      <div class="card">
        <div class="card-body">
          <div style="font-family: Arial; font-weight: 700;">Select Delivery Address</div>
          <hr>
          <div class="col-lg" *ngFor="let item of addressArray; let i=index;">

            <div class="row">
              <div class="col-1"> <span><input [attr.checked]="i==0" (change)="myFunction(item)" id="1" name="gender1"
                    type="radio"></span></div>
              <div class="col" style="margin-top: 6px;">
                <span
                  style="font-family: Arial;font-size: 13px;font-weight: 700;">{{item.firstName+ " "+item.lastName}}-&nbsp;</span>
                <span style="font-family: Arial;font-size: 13px;font-weight: 400;"> {{item.addressLine1}}</span>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-1"></div>
            <div class="col-lg" style="margin-top: 6px; "> <a href="#" data-toggle="modal" data-target="#exampleModal"
                style="font-size: 10px; font-weight: 700;margin-left: 9px;">Add New Address</a></div>
          </div>


        </div>
        <div class="card-footer text-muted">
          <button class="btn btn-warning" style="height: 30px; font-weight: 700; font-size: 10px; font-family: Arial;" (click)="changeFunction=false">Use this address</button>
        </div>
      </div>
    </div>

    <hr>

    <div class="row py-2" *ngIf="!changeBillingFunction">
      <div class="col-lg-1 font-weight-bold">2</div>
      <div class="col-lg-3 font-weight-bold">Billing address</div>
      <div class="col-lg-4">
        <div class="row" style="margin-left: 1px; "><small
            style="font-weight: 500;font-size: 13px; ">{{address['billToAddress'].firstName +" "+address['billToAddress'].lastName}}</small>
        </div>
        {{address['billToAddress'].addressLine1}}
        <div class="row" style="margin-left: 1px; "> <a href="#" data-toggle="modal"
            data-target="#exampleModalCenter"><small style="font-weight: 400;">Add a delievery
              instructions</small></a></div>
      </div>
      <div class="col-lg-2">
        <a href="#" *ngIf="addressArray.length!=0" (click)="changeBillingFunction=true"> <small style="font-weight: 500;">Change</small> </a>
        <a href="#" *ngIf="addressArray.length==0" data-toggle="modal" data-target="#exampleModal"> <small
            style="font-weight: 500;">Add Address</small> </a>
      </div>

    </div>

    <div class="row py-2" *ngIf="changeBillingFunction">
      <div class="col-lg-1"></div>
      <div class="card">
        <div class="card-body">
          <div style="font-family: Arial; font-weight: 700;">Select Billing Address</div>
          <hr>
          <div class="col-lg" *ngFor="let item of addressArray; let i=index;">

            <div class="row">
              <div class="col-1"> <span><input [attr.checked]="i==0" (change)="myFunction1(item)" name="billingradio"
                    type="radio"></span></div>
              <div class="col" style="margin-top: 6px;">
                <span
                  style="font-family: Arial;font-size: 13px;font-weight: 700;">{{item.firstName+ " "+item.lastName}}-&nbsp;</span>
                <span style="font-family: Arial;font-size: 13px;font-weight: 400;"> {{item.addressLine1}}</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-1"></div>
            <div class="col-lg" style="margin-top: 6px; "> <a href="#" data-toggle="modal" data-target="#exampleModal"
                style="font-size: 10px; font-weight: 700;margin-left: 9px;">Add New Address</a></div>
          </div>
        </div>
           <div class="card-footer text-muted">
          <button class="btn btn-warning" style="height: 30px; font-weight: 700; font-size: 10px; font-family: Arial;" (click)="changeBillingFunction=false">Use this address</button>
        </div>

      </div>

    </div>
    <hr>

    <div class="row">
      <div class="col-lg-1 font-weight-bold">3</div>
      <div class="col-lg-3 font-weight-bold">Notification Type</div>
      <div class="col-lg-4" style="font-family: Arial;font-size: 13px;font-weight: 400;">
        <div class="row" style="margin-left: 1px;  ">
          <form>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio1" style="font-size: 13px;">
                <input style="height: 12px; " [(ngModel)]="notificationType" type="radio" class="form-check-input"
                  id="radio1" name="optradio" value="email" checked>Email
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2" style="font-size: 13px;">
                <input style="height: 12px;  " [(ngModel)]="notificationType" type="radio" class="form-check-input"
                  id="radio2" name="optradio" value="phone">Phone
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" style="font-size: 13px;">
                <input style="height: 12px; " [(ngModel)]="notificationType" type="radio" class="form-check-input"
                  name="optradio" value="book">Both
              </label>
            </div>

          </form>
        </div>

      </div>
      <div class="col-lg-2">

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-1 font-weight-bold">4</div>
      <div class="col-lg-3 font-weight-bold"><s></s> Shipping Method </div>
      <div class="col-lg-4" style="font-family: Arial;font-size: 13px;font-weight: 400;">
        <div class="row" style="margin-left: 1px;  ">
          <div class="col-5">

            <select ngModel="shippingMethod" style="width: 200px;" id="sMethod" name="shippingMethod">
              <option value="regular">Regular</option>
              <option value="card">Credit Card</option>

            </select>
          </div>
        </div>

      </div>
      <div class="col-lg-2">

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-1 font-weight-bold">5</div>
      <div class="col-lg-2 font-weight-bold">Coupon Detail</div>
      <div class="col-lg-9" style="font-family: Arial;font-size: 13px;font-weight: 400;">
        <div class="row" style="margin-left: 1px;  ">
          <div class='col-12'>
            <form>

              <!-- <div class="col-2">  <label for="staticEmail" class="col-sm-2 col-form-label">Coupon Name</label></div> -->
              <div class="row">
                <div class="col-6">
                  <input [(ngModel)]="coupon.name" name="name" type="text" class="form-control" id="coupanName"
                    placeholder="Coupon Name">

                </div>
                <div class="col-6">
                  <input [(ngModel)]="coupon.discountType" type="text" class="form-control" id="DiscountType"
                    name="discountType" placeholder="Discount Type">
                </div>
              </div>




              <!-- <label for="inputPassword" class="col-sm-2 col-form-label">Discount Type</label> -->

              <!-- </div> -->
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="col-lg-3" style="font-family: Arial;font-size: 13px;font-weight: 400;">
    <div class="font-weight-bold text-center" style="font-size: 15px;">Delivery Estimate</div>
    <span class="font-weight-bold " style=" font-size: 15px; padding-bottom: 5px;">Please Note:</span>
    <p class="py-1">Delivery timelines are
      currently taking longer than usual because of COVID.
      Please add 2-5
      days extra to estimated delivery
    </p>
    <div class="font-weight-bold" style="font-size: 14px; font-weight: 500;;">Estimate Delivery 18th Sept 2020</div>
    <br>
    <div class="text-uppercase font-weight-bold" style="margin-top: -15px; font-size: 14px;font-weight: 500;"> Price
      Details
      (7 Items)</div>

    <div class="row" style="margin-left: 15px; margin-top: 5px; font-weight: 500; font-size: 13px;">
      <div class="col-6 "> <span>Order Total:</span></div>
      <div class="col-5 "> <span>Rs. 5342</span></div>
    </div>

    <div class="row py-1" style="margin-left: 15px; font-weight: 500; font-size: 13px;">
      <div class="col-7 "> <span>Delivery Charges:</span></div>
      <div class="col-5 "> <span>Rs. 50</span></div>

    </div>

    <div style="margin-left: 15px;">
      <hr style="border:1px solid black">
    </div>

    <div class="row " style="margin-left: 13px;font-weight: 500;">
      <div class="col-6"> <span>Total:</span></div>
      <div class="col-5 "> <span>Rs. 5392</span></div>

    </div>


    <button (click)="postOrder()" type="button" class="btn btn-warning my-3"
      style=" margin-left: 30%; height: 34px; ">Continue</button>



  </div>
</div>
<!-- </div> -->



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #funnyDayaForm="ngForm" name="myform">
          <!-- <div class="row"> -->

          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700; margin-left: 7px;">First Name</small> </label>
          <div class="row" style="   margin-left: 1px;">

            <input required #firstName="ngModel" class="form-control" type="text" placeholder="First Name"
              name="firstName" [(ngModel)]="checkout.firstName"
              [ngClass]="{'is-invalid':(firstName.invalid && (firstName.dirty || firstName.touched))}">

            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">

              <small *ngIf="firstName.errors.required">
                First Name is required.
              </small>
            </div>

          </div>
          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700; margin-left: 7px;">Middle Name</small> </label>

          <div class="row" style="   margin-left: 1px;">
            <input class="form-control" type="text" name="MiddleName" placeholder="Middle Name"
              [(ngModel)]="checkout.middleName">
          </div>


          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700; margin-left: 7px;">Last Name</small> </label>
          <div class="row" style="   margin-left: 1px;">
            <input required #lastName="ngModel" class="form-control" type="text" placeholder="Last Name" name="lastName"
              [(ngModel)]="checkout.lastName"
              [ngClass]="{'is-invalid':(lastName.invalid && (lastName.dirty || lastName.touched))}">


            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">

              <small *ngIf="lastName.errors.required">
                Last Name is required.
              </small>
            </div>

          </div>
          <!-- </div> -->
          <!-- <div class="row"> -->
          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700; margin-left: 7px;">Phone Number</small> </label>
          <div class="row" style="   margin-left: 1px;">
            <input type="number" required minlength=11 maxlength=15 class="form-control" name="PhoneNumber"
              placeholder="Phone Number" #PhoneNumber="ngModel" [(ngModel)]="checkout.phoneNumber"
              [ngClass]="{'is-invalid':(PhoneNumber.invalid && (PhoneNumber.dirty || PhoneNumber.touched))}">
            <div *ngIf="PhoneNumber.invalid && (PhoneNumber.dirty || PhoneNumber.touched)" class="alert alert-danger">

              <small *ngIf="PhoneNumber.errors.required">
                Phone Number is required.
              </small>

              <small *ngIf="PhoneNumber.errors?.minlength">
                Phone Number must be at least 11 characters long.
              </small>
              <small *ngIf="PhoneNumber.errors?.maxlength">
                Phone Number can be of max 15 charcters.
              </small>
            </div>
          </div>

          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700; font-family: Arial;margin-left: 7px;">Pin Code</small> </label>
          <div class="row" style="   margin-left: 1px;">
            <input type='number' required minlength=5 maxlength=5 class="form-control" placeholder="Pincode"
              name="pincode" #pincode="ngModel" [(ngModel)]="checkout.pincode"
              [ngClass]="{'is-invalid':(pincode.invalid && (pincode.dirty || pincode.touched))}">
            <div *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)" class="alert alert-danger">

              <small *ngIf="pincode.errors.required">
                Pincode is required.
              </small>

              <small *ngIf="pincode.errors?.minlength">
                Pincode must be at least 5 characters long.
              </small>
              <small *ngIf="pincode.errors?.maxlength">
                Pincode can be of max 5 charcters.
              </small>
            </div>
          </div>
          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700; font-family: Arial;margin-left: 7px;">Locality</small> </label>

          <div class="row" style="   margin-left: 1px;">
            <input class="form-control" type="text" name="Locality" placeholder="Locality"
              [(ngModel)]="checkout.Locality" name="locality">

          </div>

          <!-- </div> -->
          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700; font-family: Arial;margin-left: 7px;">Address Lane 1</small> </label>
          <div class="row" style="   margin-left: 1px;">
            <input required class="form-control" type="text" placeholder="Address 1" name="address1" #address1="ngModel"
              [(ngModel)]="checkout.address"
              [ngClass]="{'is-invalid':(address1.invalid && (address1.dirty || address1.touched))}">
            <div *ngIf="address1.invalid && (address1.dirty || address1.touched)" class="alert alert-danger">

              <small *ngIf="address1.errors.required">
                Address is required.
              </small>


            </div>
          </div>
          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700;font-family: Arial; margin-left: 7px;">Address Lane 2</small> </label>
          <div class="row" style="   margin-left: 1px;">
            <input name="Address2" class="form-control" type="text" placeholder="Address 2"
              [(ngModel)]="checkout.address1">
          </div>

          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700;font-family: Arial; margin-left: 7px;">City</small> </label>
          <div class="row" style="   margin-left: 1px;">
            <input required class="form-control" type="text" placeholder="City/District/Town" name="city"
              #city="ngModel" [(ngModel)]="checkout.city"
              [ngClass]="{'is-invalid':(city.invalid && (city.dirty || city.touched))}">
            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">

              <small *ngIf="city.errors.required">
                City is required.
              </small>


            </div>
          </div>

          <!-- <div class="row"> -->
          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700; font-family: Arial;margin-left: 7px;">State</small> </label>
          <div class="row" style="   margin-left: 1px;">
            <input required class="form-control" type="text" placeholder="State" name="state" #state="ngModel"
              [(ngModel)]="checkout.state" [ngClass]="{'is-invalid':(state.invalid && (state.dirty || state.touched))}">
            <div *ngIf="state.invalid && (state.dirty || state.touched)" class="alert alert-danger">

              <small *ngIf="state.errors.required">
                State is required.
              </small>


            </div>
          </div>
          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700;font-family: Arial; margin-left: 7px;">Landmark</small> </label>
          <div class="row" style="   margin-left: 1px;">
            <input class="form-control" type="text" name="landmark" [(ngModel)]="checkout.landmark"
              placeholder="Landmark(Optional)">
          </div>
          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700;font-family: Arial; margin-left: 7px;">Street</small> </label>
          <div class="row" style="   margin-left: 1px;">
            <input required class="form-control" type="text" placeholder="Street" name="street" #street="ngModel"
              [(ngModel)]="checkout.street"
              [ngClass]="{'is-invalid':(street.invalid && (street.dirty || street.touched))}">
            <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert alert-danger">

              <small *ngIf="street.errors.required">
                Street is required.
              </small>


            </div>
          </div>
          <!-- </div> -->

          <!-- <div class="row"> -->
          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700;font-family: Arial; margin-left: 7px;">Country</small> </label>
          <div class="row " style="   margin-left: 1px;">
            <input required class="form-control" type="text" name="country" [(ngModel)]="checkout.country"
              #country="ngModel" placeholder="Country"
              [ngClass]="{'is-invalid':(country.invalid && (country.dirty || country.touched))}">
            <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger">

              <small *ngIf="country.errors.required">
                Country is required.
              </small>


            </div>
          </div>
          <label class="" for="exampleInputEmail1" style="margin-bottom: 2px;"><small
              style="font-weight: 700;font-family: Arial, Helvetica, sans-serif; margin-left: 7px;">Email</small>
          </label>
          <div class="row" style="   margin-left: 1px;">
            <input email=true required type="email" class="form-control" type="text" placeholder="email" name="email"
              #email="ngModel" [(ngModel)]="checkout.email" (click)="hello(email)"
              [ngClass]="{'is-invalid':(email.invalid && (email.dirty || email.touched))}">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

              <small *ngIf="email.errors.required">
                Email is required.
              </small>

              <small *ngIf="email.errors.email">
                Enter a Valid Email.
              </small>

            </div>

          </div>

          <!-- </div> -->


          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-toggle="collapse"
              href="#collapseExample2">Close</button>

            <span data-toggle="collapse" href="#collapseExample2"> <button [disabled]="!(funnyDayaForm.form.valid)"
                (click)="saveAddress(funnyDayaForm); " type="button" class="btn btn-primary">Save
                changes</button></span>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  [disabled]="!(funnyDayaForm.form.valid)" (click)="saveAddress(funnyDayaForm)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Additional Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea rows="10" cols="62" placeholder="Add Delievery Instructions here"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
