<div class="text-muted"
  style="height: 40px; background-color: gold;  text-align: center; font-weight: 600; font-size: x-large;">Checkout Page
</div>
<div *ngIf="saved" class="alert alert-success">
  <strong>Success!</strong>
</div>
<div class="row px-3" style="height: 1000%; ">
  <div class="col-9" style="border-right: solid ;">

    <p>
      <a data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
        <span class="mx-2 text-muted" style="font-size: x-large; font-weight: 500;">Select a delivery address</span>
      </a>

    <div class="" id="collapseExample">
      <div class="row m-4 py-2 ">


        <div style="background-color: rgb(191, 176, 176);" id="carouselExampleIndicators" class="carousel slide col-12" data-slide="false" data-interval="false">

          <div class="carousel-inner">

            <div *ngFor="let item of addressArray; let i = index" class="carousel-item"  [ngClass]="{'active' : i == 0}">

                  <div class="row" style="margin-left: 22%;" >
                    <div class="col-1" style="margin-top:5%;">

                      <input checked="checked" type="radio" name="gender1"
                        (change)="myFunction(item)">

                      </div>
                    <div class="col-11 p-2  ">

                      <div class="card text-center">
                        <div class="card-header">
                          Address {{item.id}}
                        </div>
                        <div class="card-body" style="height: 100px;">
                          <h5 class="card-title">{{item.firstName}} {{item.lastName}}</h5>
                          <p class="card-text">{{item.addressLine1}}</p>

                        </div>
                      </div>

                    </div>
                  </div>



              </div>



          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
      <button class="btn btn-primary" data-toggle="collapse" href="#collapseExample2"
        style="width: 117px; height: 39px;margin-left: 88%;">
        Add Address
      </button>
    </div>

  </div>

  <div class="col-3">
    <h3 style="text-align: center; font-size:x-large;" class="text-muted">Delivery Estimate</h3>
    <span class="h6 text-muted" style=" font-size: larger; padding-bottom: 5px;">Please Note:</span>
    <p class="font-weight-normal text-muted" style="font-size:medium; padding-top: 4px;">Delivery timelines are
      currently taking longer than usual because of COVID.
      Please add 2-5
      days extra to estimated deliveryx
    </p>
    <div class="text-muted" style="font-size: large; font-weight: 500;;">Estimate Delivery 18th Sept 2020</div>
    <br>
    <div class="text-uppercase text-muted" style="margin-top: -15px; font-weight: 500;"> Price Details (7 Items)</div>

    <div class="row" style="margin-left: 15px; margin-top: 5px; font-weight: 500;">
      <div class="col-6 text-muted"> <span>Order Total:</span></div>
      <div class="col-5 text-muted"> <span>Rs. 5342</span></div>
    </div>

    <div class="row py-1" style="margin-left: 15px; font-weight: 500;">
      <div class="col-7 text-muted"> <span>Delivery Charges:</span></div>
      <div class="col-5 text-muted"> <span>Rs. 50</span></div>

    </div>

    <div style="margin-left: 15px;">
      <hr style="border:1px solid black">
    </div>

    <div class="row " style="margin-left: 13px;font-weight: 500;">
      <div class="col-6 text-muted"> <span>Total:</span></div>
      <div class="col-5 text-muted"> <span>Rs. 5392</span></div>

    </div>


    <button (click)="postOrder()" type="button" class="btn btn-warning my-3"
      style=" border-radius: 30%; margin-left: 30%; ">CONTINUE</button>



  </div>
</div>

<div class="row p-2">

  <div class="collapse col-9" id="collapseExample2">
    <h3 style="text-align: center;">Add New Address</h3>

    <div class="card-body" style="border:solid">
      <div class="modal-body container">
        <div class="row">
          <div class="col shadow p-2 mb-3   bg-white rounded">
            <input  class="form-control" type="text" placeholder="Name" name="firstName" [(ngModel)]="checkout.firstName">
          </div>
          <div class="col shadow p-2 mb-3   bg-white rounded">
            <input  class="form-control" type="text" name="Middle Name" placeholder="Middle Name" [(ngModel)]="checkout.middleName">
          </div>

        </div>
        <div class="row">
          <div class="col shadow p-2 mb-3   bg-white rounded">
            <input  class="form-control" type="text" placeholder="Last Name" name="firstName" [(ngModel)]="checkout.lastName">
          </div>
          <div class="col shadow p-2 mb-3   bg-white rounded">
            <input  class="form-control" type="text" name="Phone Number" placeholder="Phone Number" [(ngModel)]="checkout.phoneNumber">
          </div>

        </div>
        <div class="row">
          <div class="col shadow p-2 mb-3   bg-white rounded">
            <input  class="form-control" type="text" placeholder="Pincode" name="pincode" [(ngModel)]="checkout.pincode">
          </div>
          <div class="col shadow p-2 mb-3   bg-white rounded">
            <input  class="form-control" type="text" name="Locality" placeholder="Locality" [(ngModel)]="checkout.Locality">
          </div>

        </div>
        <div class="row">
          <div class="col shadow p-2 mb-3 bg-white rounded">
            <input class="form-control" type="text" placeholder="Address 1" [(ngModel)]="checkout.address">
          </div>
          <div class="col shadow p-2 mb-3 bg-white rounded">
            <input  class="form-control" type="text" placeholder="Address 2" [(ngModel)]="checkout.address1">
          </div>
        </div>

        <div class="row">
          <div class="col shadow p-2 mb-3 bg-white rounded">
            <input  class="form-control" type="text" placeholder="City/District/Town" name="city" [(ngModel)]="checkout.city">
          </div>
          <div class="col shadow p-2 mb-3 bg-white rounded">
            <input  class="form-control" type="text" placeholder="State" name="state" [(ngModel)]="checkout.state">
          </div>


        </div>

        <div class="row">
          <div class="col shadow p-2 mb-3 bg-white roundedl">
            <input  class="form-control" type="text" name="landmark" [(ngModel)]="checkout.landmark" placeholder="Landmark(Optional)">
          </div>
          <div class="col shadow p-2 mb-3 bg-white rounded">
            <input  class="form-control" type="text" placeholder="Street" name="street" [(ngModel)]="checkout.street">
          </div>


        </div>

        <div class="row">
          <div class="col shadow p-2 mb-3 bg-white roundedl">
            <input  class="form-control" type="text" name="country" [(ngModel)]="checkout.country" placeholder="Country">
          </div>
          <div class="col shadow p-2 mb-3 bg-white rounded">
            <input  class="form-control" type="text" placeholder="email" name="other" [(ngModel)]="checkout.email">
          </div>


        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  data-toggle="collapse" href="#collapseExample2">Close</button>

        <span data-toggle="collapse" href="#collapseExample2">  <button [disabled]="validateForm()"   (click)="saveAddress()" type="button" class="btn btn-primary">Save
            changes</button></span>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-9">
    <div class="input-group mb-3">

      <div class="input-group-prepend">

        <br>
        <div class="input-group-text">

          <input (change)="checkingToggle()" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1" type="checkbox" checked aria-label="Checkbox for following text input">
        </div>
      </div>
      <input type="text" style="font-weight: 500;" class="form-control"
        value="Is Billing Address same as Shipping Address?" aria-label="Text input with checkbox">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <div class="px-3">
      <a data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
        <span class="mx-2 text-muted" style="font-size: x-large; font-weight: 500;">Select a Billing address</span>
      </a>

      <div class="collapse" id="collapseExample1">
        <div class="row m-4 py-2 ">

          <div style="background-color: rgb(191, 176, 176);" id="carouselExampleIndicators1" class="carousel slide col-12" data-slide="false" data-ride="carousel"data-interval="false">

          <div class="carousel-inner">

            <div *ngFor="let item of addressArray; let i = index" class="carousel-item"  [ngClass]="{'active' : i == 0}">

                  <div class="row" style="margin-left: 22%;" >
                    <div class="col-1" style="margin-top:5%;">

                      <input checked type="radio" name="gender" id="male"
                        (change)="myFunction1(item)">

                      </div>
                    <div class="col-11 p-2  ">

                      <div class="card text-center">
                        <div class="card-header">
                          Address {{item.id}}
                        </div>
                        <div class="card-body" style="height: 100px;">
                          <h5 class="card-title">{{item.firstName}} {{item.lastName}}</h5>
                          <p class="card-text">{{item.addressLine1}}</p>

                        </div>
                      </div>

                    </div>
                  </div>



              </div>



          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        </div>
      </div>
    </div>
</div>
</div>


<div style="margin-top: 50px" class="h3">Coupon Details</div>
<div  class="row" >
  <form  class="col-7 p-4">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Coupon Name</label>
      <div class="col-sm-10">
        <input [(ngModel)]="coupon.name" name="name" type="text" class="form-control" id="coupanName" placeholder="Coupon Name">

      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Discount Amount</label>
      <div class="col-sm-10">
        <input [(ngModel)]="coupon.discountAmount" name="discountAmount" type="text" class="form-control" id="discountAmount" placeholder="Discount Amount">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Discount Type</label>
      <div class="col-sm-10">
        <input [(ngModel)]="coupon.discountType" type="text" class="form-control" id="DiscountType" placeholder="Discount Type">
      </div>
    </div>
  </form>
<!-- <form>
  <div class="form-group">
    <label for="exampleFormControlInput1"></label>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Discount Amount</label>
    <input type="email" class="form-control" id="discountAmount" placeholder="Discount Amount">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Discount Type</label>
    <input type="email" class="form-control" id="DiscountType" placeholder="Discount Type">
  </div>

  >

</form> -->
</div>
