<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-light bg-light" style="background-color: #ffc107 !important;">
      <a class="navbar-brand m-auto">View Order Details</a>
    </nav>
  </div>
</div>

<div class="row">
<div class="col-lg-12">
<div style="border-style: solid; border-width: 1px; margin-top: 2px;"></div> 
</div>
</div>

<div class="col-lg-12">    
<div class="top">
  <div class="topleft">
  Order Date &nbsp; &nbsp; &nbsp; &nbsp; Sep 3, 2020<br> Order#  &nbsp; &nbsp; &nbsp;  &nbsp; 123456789
</div>
</div>
<div class="order">
Items: 110.00 <br>Shipping & Handling: 50.00<br>Total before Tax: 110.00<br>Tax Collected: 10.00<br><hr><br><b>Order Total:</b> 
</div>
</div> 

<div class="col-lg-12">
 <div class="mid-table">
   <div class="container">
    <div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
          <th>City</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Anna</td>
          <td>Pitt</td>
          <td>35</td>
          <td>New York</td>
          <td>USA</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
</div>
</div>

